Advantis Dental Surgeries (ADS) - Requirements

- Manager can Register Dentists.
- The Manager also uses the system to enroll new Patients.
- The system allow the patient to request an appointment by submitting an online form.
- Manager can book the appointment.
- The system send a confirmation email notifying the Patient 
- The system record the appointement.
- Dentist can sign in
- Dentist can view listing of all their Appointments, including details of the Patients they have been scheduled
- The system should provide information about each Surgery
- Patients should be able to sign in to the system and view their appointments, including the information of the dentist they have been booked to see.
- Patients should also be able to request to cancel or change their appointments
- A dentist cannot be given more than 5 appointments in any given week.
- The system should prevent a Patient from requesting a new appointment if they have an outstanding, unpaid bill for dental service they have received.